@font-face {
  font-family: "PokeSans";
  src: url("https://fonts.gstatic.com/s/inter/v13/UcCO3FwrK3iLTeHuS_nVMrMxCp50SjIw2boKoduKmMEVuI.woff2")
    format("woff2");
  font-weight: 400 700;
  font-style: normal;
  font-display: swap;
}
